html { 
  background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
body{
	background: none;
	margin-top: 6%;
	font-family: 'Raleway', sans-serif;
	overflow-y: scroll;
}
img.twitch-logo{
	margin: 0 auto 50px;
	display: block;
}
#filter{
	max-width: 420px;
	height: 60px;
	line-height: 58px;
	margin: 0 auto;
	background-color: #26124d;
	color: #fff;
	border: 1px solid rgba(255,255,255,0.7);
}
#filter ul{
	list-style-type: none;
	padding: 0;
}
#filter li{
	float: left;
	width: 33.333%;
	text-align: center;
}
#filter li a{
	text-decoration: none;
	color: #fff;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#filter li a.current, #filter li a:hover{
	border: 1px solid #fff;
	padding: 10px;
}
#box{
	background: #050223;
	background: -webkit-linear-gradient(bottom, #050223 , #27134e);
	background: -o-linear-gradient(top, #050223, #27134e);
	background: -moz-linear-gradient(top, #050223, #27134e);
	background: linear-gradient(to top, #050223 , #27134e);
	border: 1px solid rgba(255,255,255,0.7);
	min-height: 450px;
	max-width: 400px;
	margin: -1px auto 40px;
	padding-bottom: 11px;
	color: #fff;
}
.item {
    width: 100%;
    height: 100px;
    display: block;
    padding: 15px 15px 0px;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.item:hover{
	background-color: rgba(255,255,255,0.06);
}
.item img {
    float: left;
    margin-right: 10px;
    border: 1px solid #fff;
    width: 80px;
}
.item h4 {
    margin-top: 0;
    margin-bottom: 5px;
    display: inline;
    color: #fff;
}
.item ul{
	list-style-type: none;
	
}
.item li span{
	color: #909090;
	font-size: 11px;
}
.item li span#status{
	color: #54a76a;
}
.item.offline{
	color: #909090;
}
.offline-box{
	width: 80px;
	height: 80px;
	line-height: 80px;
	float: left;
	text-align: center;
	background-color: #050223;
	border: 1px solid #fff;
	margin-right: 10px;
	font-size: 13px;
}